<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Pool Pros</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link rel="stylesheet" type="text/css" href="https://meyerweb.com/eric/tools/css/reset/reset.css"> -->
        <link rel="stylesheet" type="text/css" media="screen" href="/styles/styles.css" />

        <script src="main.js"></script>
    </head>

    <body>
        <header>
            <div class="mini-header hidden-sm">
                <ul>
                    <li>Dealers and Distributors</li>
                    <li>Commercial Service</li>
                </ul>
            </div>
            <!-- Nav Bar -->
            <div class="nav-bg">
                <nav class="row">
                    <div class="col-3-sm">
                        <img id="nav-logo" src="/assets/pool-pros-logo.png" alt="nav-logo">
                    </div>
                    <div class="col-9-sm">
                        <ul>
                            <li class="hidden-sm"><a href="#Pools">Pools & Spas</a></li>
                            <li class="hidden-sm"><a href="#Supplies">Supplies</a></li>
                            <li class="hidden-sm"><a href="#Resources">Resources</a></li>
                            <li class="hidden-sm"><a href="#Services">Services</a></li>
                            <li><button class="find-pro-button"><img id="marker-icon" src="/assets/location-icon.png"
                                        style="width: 15px;">Find a Pool Pro</button></li>
                        </ul>
                    </div>
                </nav>
            </div>
            <img id="divider-image" src="/assets/water-image.png" alt="divider-image">
        </header>

        <!-- Search Bar -->
        <div class="searchbar row">
            <div class="dealers col-4 col-8-sm">
                <h2> 7 Dealers in 28277</h2>
            </div>
            <div class="filters col-8 col-4-sm">
                <h2> Filters:</h2>
                <form class="filter-form">
                    <label><input type="radio" name="filter" value="Service Pro">service</label>
                    <label><input type="radio" name="filter" value="Installation Pro">installation</label>
                    <label><input type="radio" name="filter" value="Residential Pro">residential</label>
                    <label><input type="radio" name="filter" value="Commercial Pro">commericial</label>
                </form>
            </div>
        </div>

        <!-- Business Cards -->
        <div class="container">
            <div class="row business-cards">




<!-- 
                <div class="col-4 col-12-sm">

                    <div class="card">

                        <div class="container">

                            <div class="row">
                                <h2><b>${name}</b></h2>
                                <hr>
                            </div>

                            <div class="row">
                                <h2 class="business-phone"><img src="/assets/phone-icon-desktop.png" style="width: 30px;">
                                    <b>${phone}</b></h2>
                            </div>

                            <div class="row">

                                <p id="email-text">Can't talk now? Click below to send an email.</p> <button class="contact-pro-button"><img
                                        src="/assets/email-icon.png" style="width: 15px;"> Contact this Pro</button>
                            </div>

                            <div class="row">

                                <p><b>Business Hours:</b></p>
                            </div>

                            <div class="row">
                                <ul class="business-hours">
                                    <li>Weekdays: ${weekHours}</li>
                                    <li>Saturdays: ${satHours}</li>
                                    <li>Sundays: ${sunHours}</li>
                                </ul>
                            </div>
                        </div>
                        <footer>

                            <div class="row">

                                <div class="footer-row${dealerID}">
                                </div>
                            </div>

                            <div class="row">

                                <div class="footer-row2${dealerID}">
                                </div>
                            </div>
                    </div>
                    </footer>
                </div>
            </div> -->

        </div>
        </div>

        <!-- Footer Section -->
        <section class="footer-large">
            <footer>
                <div class="row">
                    <div class="col-12">
                        <img class="footer-logo" src="/assets/pool-pros-logo-footer.png">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 connect-text">
                        <h3 id="connect-text">CONNECT WITH US
                            <img src="/assets/facebook-icon.png" class="social-icon">
                            <img src="/assets/twitter-icon.png" class="social-icon">
                        </h3>
                    </div>
                </div>
            </footer>
        </section>
        <section class="footer-small">
            <footer>
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-4">
                        <ul>
                            <li><a href="/copyright" style="color:white">@ 2017 Pool Pros </a>|</li>
                            <li><a href="/privacy-policy" style="color:white">Privacy Policy</a> |</li>
                            <li><a href="/Terms%20Conditions" style="color:white">Terms and Conditions</a></li>
                        </ul>
                    </div>
                    <div class="col-4"></div>
                </div>
            </footer>
        </section>
    </body>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/js/index.js"></script>

</html>